
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateAccount</title>
</head>
<body>

    <label for="txtUsername">Username</label>
    <input type="text" placeholder="Username" id="txtUsername" />

    <label for="txtPassword">Password</label>
    <input type="password" placeholder="Password" id="txtPassword" />


    <button id="btnLogin">Login</button>

</body>
</html>
