@model GenericLoginAspNetMvc.ViewModels.CreateUserViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateAccount</title>
</head>
<body>

    <h1>Public Registration</h1>

    <form method="post" asp-action="CreateAccount" asp-controller="Home">


        <label for="txtFirstName">First Name</label>
        <input type="text" placeholder="First Name" id="txtFirstName" asp-for="FirstName" />


        <label for="txtFirstName">Last Name</label>
        <input type="text" placeholder="First Name" id="txtFirstName" asp-for="LastName" />

        <label for="txtUsername">Username</label>
        <input type="text" placeholder="Username" id="txtUsername" asp-for="Username" />

        <label for="txtPassword">Password</label>
        <input type="password" placeholder="Password" id="txtPassword" asp-for="Password" />

        <label for="txtAccountType">Account Type</label>
        <select id="txtAccountType" asp-for="AccountType">
            <option value="" selected>Please Select Account Type...</option>
            <option value="RegularUser">Regular User</option>
        </select>

        <button id="btnLogin" type="submit">Login</button>

    </form>




    @if (ViewBag.Error != null)
    {
        <script>
            alert('@ViewBag.Error');
        </script>
    }

</body>
</html>
