@model GenericLoginAspNetMvc.ViewModels.AuthenticateUserViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>

    <form asp-action="Login" asp-controller="Home" method="post">

        <label for="txtUsername">Username</label>
        <input type="text" placeholder="Username" id="txtUsername" asp-for="Username" />

        <label for="txtPassword">Password</label>
        <input type="password" placeholder="Password" id="txtPassword" asp-for="Password" />

        <button id="btnLogin" type="submit">Login</button>

    </form>


    @if (ViewBag.Error != null)
    {
        <script>
            alert('@ViewBag.Error');
        </script>
    }


    @if (ViewBag.RegisterSuccess != null)
    {
        <script>
            alert('Registration Successful!');
        </script>
    }

</body>
</html>
