@model string
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserDashboard</title>
</head>
<body>

    <h1>User Dashboard</h1>

    <p>Query Cap: @Model</p>
</body>
</html>
