
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UnAuthorized</title>
</head>
<body>
    <h1>Un-Authorized Access!</h1>
    <a asp-action="Login" asp-controller="Home">Back To Login</a>
</body>
</html>
